#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}


.active {
  color: #E5E0DB;
  background-color: #877363;

}

.menu {
  background-color: #E5E0DB;
  color: #877363;
}

.menu:hover {
  color: #E5E0DB;
  background-color: #877363;
}